.modal__content_confirm {
  background-color: #fff;
  position: relative;
  padding: 28px;
  max-width: 670px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

.modal__confirm-message {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  margin: 0 0 40px;
}

.modal__confirm-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.modal__confirm-button {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  cursor: pointer;
}

.modal__confirm-button_type_delete {
  background-color: transparent;
  color: #ff4d00;
  border: none;
}

.modal__confirm-button_type_cancel {
  background-color: transparent;
  border: none;
  color: black;
}
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3); /* overlay backdrop */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
