.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
  font-family: "Cabinet Grotesk", "Times New Roman", Times, serif;
}

.weather-card__temp {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 16px;
  color: white;
  font-family: "Cabinet Grotesk", "Times New Roman", Times, serif;
}

.weather-card__image {
  object-fit: cover;
  object-position: right top;
  width: 100%;
}
