.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

.cards__text {
  font-family: "Cabinet Grotesk", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
}

.card__name {
  background: rgba(255, 255, 255, 1);
  font-family: "Cabinet Grotesk", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: gray;
}
