.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__logo {
  height: 30px;
}

.header__date-and-location {
  font-weight: bold;
}

.header__add-clothes-btn {
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

/* Add this class for profile link */
.header__profile-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.header__user-name {
  font-weight: bold;
  margin: 0; /* Remove default paragraph margin */
}

.header__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
